# A list of files and folders git should not include in the repo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

